{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col">
      
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
<div class="container h-100">
  <div class="row h-100">
    <div class="col-7 col-md-6 my-auto">
      <h1 class="class-display-3 home-logo text-light">
        My phone collections
      </h1>
      <div class="my-5">
        <h4>
          <a href="" class="shop-btn btn btn-lg rounded-0 text-uppercase py-3 text-light">Explore here</a>
        </h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 text-center home-btn p-2">
      <a href="">
        <p>About us</p></a>
    </div>
    <div class="col-6 text-center home-btn p-2">
        <a href="">
          <p>Show now</p></a>
    </div>
  </div>
</div>
{% endblock %}