{% extends "base.html" %}
{% load static %}


{% block content %}
<!--section 1-->
<section class="pt-5">
  <div id="intro-container" class="container-fluid px-5 py-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div id="jumbotron" class="text-center my-5">
          <h1><span class="pr-2"><i>My phone</i></span> provides the best deals on mobile phones</h1>
          <p class="pt-4 lead">Looking for new phone? Why not shop now for the best offers.</p>
          <a href="{% url 'products' %}" class="btn btn-outline-warning border border-dark mt-3 pl-4 pr-4 pt-3 pb-3">SHOP NOW</a>
      </div>
      </div>
    </div>
  </div>
</section>
<!--section 2-->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-truck m-auto text-primary"></i></div>
                    <h3>Fast delivery</h3>
                    <p class="lead mb-0">Delivery time between 3-4 days after a purchase online</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-phone m-auto text-primary"></i></div>
                    <h3>Customer service</h3>
                    <p class="lead mb-0">If you have any queries after your purchase, we are there for you.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                    <h3>Price match guarantee</h3>
                    <p class="lead mb-0">We provide the best rates on all our products and match them with our competitors</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--section 3-->
<section id="subscribe">
    <div class="container-fluid px-5 pb-5 mt-5 bg-light">
        <div class="my-5 subscribe-heading">
            <h2>Subscribe To Our Newsletter!</h2>
        </div>
        <div id="subscribe-container" class="row gx-5 justify-content-center">
            <div class="subscribe-col col-3">
                <div class="subscribe-image border border-dark">
                </div>
            </div>
            <div class="subscribe-col col-3">
                <!-- Begin Mailchimp Signup Form -->
                <div class="mt-5" id="mc_embed_signup">
                    <form action=""></form>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>

{% endblock %}