html{
    height: 100%;
}

body{
    background: url('/media/cover.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 100px);
    color: #fff; 
}

/* navigation bar and header */

.shop-btn{
    background: black;
    color: #fafafa;
    min-width: 240px;
}

.shop-btn:hover,
.shop-btn:active,
.shop-btn:focus {
    background: #222;
    color: #fafafa;
}

/* home page */
.home-btn {
    background-color: #000;
    border: solid 2px #fafafa;
}

.home-btn a{
    text-decoration: none;
    font-size: 22px;
}

/* used from bulma */
.icon{
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* products page */
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.shop-btn {
    background-color: #1c3a42;
    border: solid 2px white;
    width: 100%;
    border-radius: 5px;
    text-decoration: none;
}

.text-black {
    color: #000 !important;
}

.border-black{
    border: solid 1px #000 !important ;
}

/* -------------------------------- Media Queries */
@media (max-width: 668px) {
    .product-container{
        margin-top: auto;
    }
}