html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: #000;
}

/*..........................................All auth styling*/
.logo-font {
    text-transform: uppercase;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content label::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
}

/*...........................................General styling*/
.small-divider {
    display: none;
}

.logout {
    height: 32vh;
}

.form-control {
    width: 80%;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: fit-content;
}

@media (max-width: 550px){
.header-container {
    padding-top: 0px;
}
.product-container-body {
    padding-top: 2rem;
}
}
/*.................................navigation bar and header */

.topnav {
    margin-top: 1px;
}

.main-logo-link {
    width: fit-content;
}

.topnav.topnav-active {
    margin-top: -8px;
}

.navbar-light .navbar-nav .nav-link {
    padding: 15px 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
    background-color: #000;
    color: #fafafa !important;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.custom-style{
    margin-bottom: auto;
}
/*.................................home page */
.header-container {
    padding-top: 1rem;
}

#intro-container {
    margin-top: 6rem;
}

.home-btn {
    background-color: #000;
    border: solid 2px #fafafa;
}

.btn-black {
    background: black;
    color: white;
}

.home-btn a {
    text-decoration: none;
    font-size: 22px;
}

.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.features-icons .features-icons-item {
    max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
}

.features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
}

.testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.testimonials .testimonial-item {
    max-width: 18rem;
}

.testimonials .testimonial-item img {
    max-width: 12rem;
    box-shadow: 0px 5px 5px 0px #adb5bd;
}

.showcase .showcase-text {
    padding: 3rem;
}

.showcase .showcase-img {
    min-height: 20rem;
    background-size: cover;
}

@media (min-width: 768px) {
    .showcase .showcase-text {
        padding: 7rem;
    }
}

.mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: auto;
}

.subscribe-heading {
    max-width: 68vw;
    text-align: right;
}

.subscribe-image {
    background: url('/media/subscribe_380x381.jpg') no-repeat center center;
    background-size: cover;
    height: 40vh;
    width: 100%;
}

@media (max-width: 529px) {
    .subscribe-heading {
        text-align: center !important;
        max-width: inherit !important;
    }
    .subscribe-image {
        height: 40vh;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .subscribe-col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


.main-banner {
    background: url('/media/about.jpg') no-repeat center center;
    background-size: cover;
    height: 50vh;
    margin-top: 50px;
}

@media (max-width: 975px) {
    .main-banner {
        height: 40vh;
    }
}

@media (max-width: 700px) {
    .main-banner {
        height: 30vh;
    }
}

@media (max-width: 550px) {
    .main-banner {
        height: 20vh;
    }
}
/*.................................footer */
.footer {
    text-align: center;
    font-size: 0.9rem;
}

.align-items-center {
    align-items: center !important;
}

.link-dark {
    color: #fafafa;
}

.link-dark:hover,
.link-dark:focus {
    color: #1a1e21;
}

footer a {
    color: #fafafa;
    text-decoration: none;
    background-color: transparent;
}

.text-lg-start {
    text-align: left !important;
}

.text-lg-end {
    text-align: right !important;
}

.fa-lg {
    font-size: 1.25em;
    line-height: .05em;
    padding: 10px;
    color: #fafafa;
}

/*.................................error page */

.text-header {
    font-size: 25px;
}

.text {
    font-size: 20px;
}

/*......................................Message container error messages */
.message-container {
    position: fixed;
    top: 75px;
    right: 10px;
    z-index: 99999999999999;
}

.toast-btn {
    background-color: #000;
    height: 40px;
    border-radius: 5px;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.bag-notification-wrapper {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*................................. used from bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/*.....................................products page */
.product-container-body {
    padding-top: 8rem;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.shop-btn {
    background-color: #000;
    border: solid 2px white;
    border-radius: 5px;
    padding: 2px 5px;
    text-decoration: none;
    text-align: center;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: solid 1px #000 !important;
}

.btn-outline-warning {
    border: 1px solid black;
    background: #000;
    color: white !important;
}

.btn-outline-warning:hover,
.btn-outline-warning:active,
.btn-outline-warning:focus {
    background: #636161 !important;
    color: black !important ;
    border: 1px solid black;
}

.btn-outline-warning:active {
    padding-top: 0.2px;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: block;
}

#btn-back-to-top i {
    color: #010901;
}

.about-us-heading {
    max-width: 42vw;
    text-align: center;
}

.about-us-image {
    background: url('/media/about-section.jpg') no-repeat center center;
    background-size: cover;
    height: 50vh;
    width: 20vw;
}

@media (max-width: 1300px) {
    #about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .about-us-col {
        flex: 0 0 66%;
        max-width: 66%;
    }
    .about-us-image {
        width: auto !important;
        margin-left: 0 !important;
    }
}

@media (max-width: 450px) {
    .about-us-col {
        flex: 0 0 99%;
        max-width: 99%;
    }
}
/*................................Add product*/
.delivery-text-header {
    font-size: 25px;
}

.edit-button {
    background-color: #000;
    border-radius: 5px;
    text-decoration: none;
}

.delete-button {
    background-color: #000;
    border-radius: 5px;
    text-decoration: none;
}

/* -------------------------------- products details page */
.image_container {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
}

.product-image{
    height: auto;
    width: auto;
}

@media (max-width: 800px){
.product-image {
    height: 100%;
    width: auto;
}
}

.phone_image {
    width: fit-content;
    height: 70vh;
    object-fit: cover;
    border: solid 2px white;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.phone-category {
    color: #df3419;
    text-decoration: none;
}

.extra-product-info a {
    text-decoration: none;
    color: #1c3a42;
}

.background_header {
    background-color: #161717;
    border: white 2px solid;
}

.product-reccommended-images {
    height: 250px;
}

.product-reccommended-images {
    opacity: 0.75;
    width: 100px;
    height: 250px;
    object-fit: cover;
    border: solid 2px white;
}

.product-reccommended-images a{
 text-decoration: none;
 color: #212529;
}

.similar-product{
    margin-bottom: 10%;
}

.phone-name-main {
    position: absolute;
    bottom: 20px;
    right: 0px;
}

.add-button {
    background-color: #0a0b0b;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    text-decoration: none;
}

.small-show {
    display: none;
}

.btns a{
    text-decoration: none;
}

.btn-like {
    border: none;
    background: none;
}

.wishlist_left {
    float: left;
}

.wishlist_right {
    float: right;
}

.heart {
    color: #1d1b1beb;
}

.btn-like {
    border: none;
    background: none;
}

.product-reccommended-images {
    height: 250px;
}

.user-width {
    height: 75px;
}

#post-product-review:hover {
    cursor: pointer;
}

.red-background {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #1b1a1a9c;
    float: right;
}

#product-review {
    display: none;
}

#close-review:hover {
    cursor: pointer;
}

.delete-review a {
    color: black;
    text-decoration: none;
}

/*...................................Wishlist */
.phone_img_card_container{
    height: 200px;
    text-align: center;
    margin: 0;
}

.phone_image_cards{
    width:  200px;
    height: 100%;
    object-fit: cover;
    border: solid 2px white;
}

.shop-btn {
    background-color: #080808;
    border: solid 2px white;
    width: 100%;
    border-radius: 5px;
    text-decoration: none;
}

.no-items {
    height: 400px;
}

@media (max-width: 800px){
.no-items {
    height: 450px;
}
}

/*...................................Bag */
.table-image-width {
    width: 10%;
}

.center-quantity {
    text-align: center;
    justify-content: center;
    margin: auto;
}

.quantity-width {
    width: 200px;
}

.qty_input {
    width: 50px;
    text-align: center;
}

.update-link,
.remove-item {
    cursor: pointer;
    color: #010901;
}


@media(max-width: 500px) {
    .table-image-width {
        width: 8%;
    }

    .table-text {
        font-size: 14px;
    }
}

/*...................................Wishlist*/
.wishlist_left {
    float: left;
}

.wishlist_right {
    float: right;
}

.phone_image_cards_container{
    height: 200px;
    text-align: center;
    margin: 0;
}

.phone_image_cards {
    width:  200px;
    height: 100%;
    object-fit: cover;
    border: solid 2px white;
}

/*...................................Media Queries */
@media (max-width: 991px) {
    body {
        height: calc(100vh - 116px);
    }

    .header-container {
        padding-top: 82px;
    }

    #jumbotron {
        margin-top: 0 !important;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }
}

@media (max-width: 860px) {}

@media (max-width: 770px) {

    .header-container {
        padding-top: 120px;
    }

    .small-search-show {
        display: block;
        float: right;
    }

    .small-search-hide {
        display: none;
    }

    .nav-icons ul {
        float: right;
        padding-right: 3px;
    }
}

@media (max-width: 550px) {
    body {
        height: calc(100vh - 116px);
    }

    .header-container {
        padding-top: 120px;
    }

    #intro-container {
        margin-top: 6rem;
    }

    #jumbotron h1 {
        font-size: 2rem;
    }

    .user-width {
        height: 45px;
    }

    .small-title-review {
        font-size: 18px;
    }

    .small-review {
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    .header-container {
        padding-top: 120px;
    }
}