html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 8rem;
    margin-bottom: 2.5rem;
}
/*...........................................General styling*/
.small-divider {
    display: none;
}


/*.................................navigation bar and header */

.topnav {
    margin-top: 1px;
}

.main-logo-link {
    width: fit-content;
}

.topnav.topnav-active {
    margin-top: -8px;
}

.navbar-light .navbar-nav .nav-link {
    padding: 15px 10px;
}



.navbar-light .navbar-nav .nav-link:hover {
    background-color: #000;
    color: #fafafa !important;
}


/*.................................home page */
.header-container{
    padding-top: 1rem;
}

#intro-container {
    margin-top: 6rem;
}

.home-btn {
    background-color: #000;
    border: solid 2px #fafafa;
}

.btn-black {
    background: black;
    color: white;
}

.home-btn a {
    text-decoration: none;
    font-size: 22px;
}

.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.features-icons .features-icons-item {
    max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
}

.features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
}

.testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.testimonials .testimonial-item {
    max-width: 18rem;
}

.testimonials .testimonial-item img {
    max-width: 12rem;
    box-shadow: 0px 5px 5px 0px #adb5bd;
}

.showcase .showcase-text {
    padding: 3rem;
}

.showcase .showcase-img {
    min-height: 20rem;
    background-size: cover;
}

@media (min-width: 768px) {
    .showcase .showcase-text {
        padding: 7rem;
    }
}

/*.................................footer */
.footer-container {
    width: 220px;
    height: 220px;
    padding: 5px;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

.footer-image {
    background: url('/static/footer/footer.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

/*.................................error page */

.text-header {
    font-size: 25px;
}

.text {
    font-size: 20px;
}

/*......................................Message container error messages */
.message-container {
    position: fixed;
    top: 75px;
    right: 10px;
    z-index: 99999999999999;
}

.toast-btn {
    background-color: #000;
    height: 40px;
    border-radius: 5px;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.bag-notification-wrapper {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*................................. used from bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/*.....................................products page */
.product-container-body{
    padding-top: 8rem;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.shop-btn {
    background-color: #000;
    border: solid 2px white;
    border-radius: 5px;
    padding: 2px 5px;
    text-decoration: none;
    text-align: center;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: solid 1px #000 !important;
}

.btn-outline-warning {
    color: #010901 !important;
    border: 1px solid black;
}

.btn-outline-warning:hover,
.btn-outline-warning:active,
.btn-outline-warning:focus {
    color: #010901 !important;
    background-color: #fafafa !important;
    border: 1px solid black;
}

.btn-outline-warning:active {
    padding-top: 0.2px;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: block;
}

#btn-back-to-top i {
    color: #010901;
}

/* -------------------------------- products details page */
.image_container{
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
}

.phone_image {
    width: fit-content;
    height: 70vh;
    object-fit: cover;
    border: solid 2px white;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.phone-category {
    color: #df3419;
    text-decoration: none;
}

.extra-product-info a {
    text-decoration: none;
    color: #1c3a42;
}

.background_header {
    background-color: #161717;
    border: white 2px solid;
}

.product-reccommended-images {
    height: 250px;
}

.product-reccommended-images{
    opacity: 0.75;
    width:  100px;
    height: 250px;
    object-fit: cover;
    border: solid 2px white;
}

.phone-name-main {
    position: absolute;
    bottom: 20px;
    right: 0px;
}

.add-button {
    background-color: #0a0b0b;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    text-decoration: none;
}

.small-show {
    display: none;
}

.btn-like {
    border: none;
    background: none;
}

.wishlist_left {
    float: left;
}

.wishlist_right {
    float: right;
}

.heart {
    color: #1309099c;
}

.background_header_reccommended {
    background-color: #1c3a42;
    border: white 2px solid;
}

.product-reccommended-images {
    height: 250px;
}

.user-width {
    height: 75px;
}

#post-product-review:hover {
    cursor: pointer;
}

#close-review:hover {
    cursor: pointer;
}

.delete-review a{
    columns: black;
    text-decoration: none;
}

/*...................................Bag */
.table-image-width {
    width: 10%;
}

.center-quantity {
    text-align: center;
    justify-content: center;
    margin: auto;
}

.quantity-width {
    width: 200px;
}

.qty_input {
    width: 50px;
    text-align: center;
}

.update-link,
.remove-item {
    cursor: pointer;
    color: #010901;
}


@media(max-width: 500px) {
    .table-image-width {
        width: 8%;
    }

    .table-text {
        font-size: 14px;
    }
}

/*...................................Wishlist*/
.wishlist_left {
    float: left;
}

.wishlist_right {
    float: right;
}

/*...................................Media Queries */
@media (max-width: 991px) {
    body {
        height: calc(100vh - 116px);
    }
    .header-container {
        padding-top: 82px;
    }

    #jumbotron {
        margin-top: 0 !important;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }
}

@media (max-width: 860px) {}

@media (max-width: 770px) {

    .header-container {
        padding-top: 120px;
    }

    .small-search-show {
        display: block;
        float: right;
    }

    .small-search-hide {
        display: none;
    }

    .nav-icons ul {
        float: right;
        padding-right: 3px;
    }
}

@media (max-width: 550px) {
    body {
        height: calc(100vh - 116px);
    }

    .header-container {
        padding-top: 120px;
    }

    #intro-container {
        margin-top: 6rem;
    }

    #jumbotron h1 {
        font-size: 2rem;
    }
    .user-width {
        height: 45px;
    }
    .small-title-review {
        font-size: 18px;
    }
    .small-review {
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    .header-container {
        padding-top: 120px;
    }
}