{% load static %}

<!doctype html>
<html lang="en">

<head>

  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
    type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <script src="https://kit.fontawesome.com/f9b7e24f28.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>My Phone {% block extra_title %}{% endblock %}</title>
</head>

<body>
  <!--navbar-->
  <header class="container-fluid bg-dark fixed-top">
    <div class="row">
      <!--left-->
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <a href="{% url 'home' %}" class="nav-link text-light">
          <h1 class="heading">My phone</h1>
        </a>
      </div>
      <!--center-->
      <!--search bar-->
      <div class="col-12 col-lg-4 my-auto text-center py-1 py-lg-0">
        <form action="{% url 'products' %}" method="GET" class="d-flex mt-3">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q" aria-label="Search">
          <button class="btn btn-outline-success my-sm-0" type="submit">Search</button>
        </form>
      </div>
      <!--right-->
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <ul class="list-inline mb-0 main-margin text-lg-right">
          <li class="list-inline-item">
            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
            <p class="my-2 text-light text-decoration-none">My Account</p> 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="account-options">
              {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                  <a class="dropdown-item" href="#">Account Management</a>
                {% else %}
                  <a class="dropdown-item" href="#">My Profile</a>
                  <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                {% endif %}
              {% else %}
                <a class="dropdown-item" href="{% url 'account_signup' %}">Register</a>
                <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
              {% endif %}
            </div>
          </li>
          <li class="list-inline-item">
            <a href="" class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link">
              <div class="text-center text-light">
                <div><i class="fas fa-shopping-bag fa-lg text-light"></i></div>
                <p class="my-0">
                  {% if grand_total %}
                    €{{ grand_total|floatformat:2 }}
                  {% else %}
                    €0.00
                  {% endif %}
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row bg-white">
      <nav class="navbar navbar-expand-lg navbar-light w-100">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          {% include 'includes/mobile-header.html' %}
          {% include 'includes/main-nav.html' %}
      </nav>
    </div>
    <div id="delivery-banner" class="row text-center">
      <div class="col bg-danger text-light">
          <h4 class="my-1">Free delivery on orders over €50.00</h4>                
      </div>            
    </div>
  </header>
  <!--navbar ends-->


  {% if messages %}
  <div class="message-container"></div>
  {% endif %}

  {% block extra_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  <!--footer-->
  <section id="footer-top">
    <div class="container text-center text-md-start mt-4">
      <div class="row mt-2">
        <!--col 1-->
        <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-5">
          <h6 class="text-uppercase mb-3">
            My phone
          </h6>
          <p>
            We provide the best phone deals!!
          </p>
          <div class="footer-container">
            <div class="footer-image"></div>
          </div>
        </div>
        <!--col 2-->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-5">
          <h6 class="text-uppercase mb-3">
            Out top brands
          </h6>
          <p>
            <a href="{% url 'products' %}?category=samsung" class="text-reset">Samsung</a>
          </p>
          <p>
            <a href="{% url 'products' %}?category=iphone" class="text-reset">iPhone</a>
          </p>
          <p>
            <a href="{% url 'products' %}?category=redmi" class="text-reset">Redmi</a>
          </p>
          <p>
            <a href="{% url 'products' %}?category=lenovo" class="text-reset">Lenovo</a>
          </p>
        </div>
        <!--col 3-->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-5">
          <h6 class="text-uppercase mb-3">
            Useful links
          </h6>
          <p>
            <a href="{% url 'products' %}" class="text-reset">Our Products</a>
          </p>
          <p>
            <a href="" class="text-reset">Our Blog.</a>
          </p>
          <p>
            <a href="" class="text-reset">View Shopping Basket</a>
          </p>
          <p>
            <a href="" class="text-reset">Your Wishlist</a>
          </p>
          <p>
            <a href="" class="text-reset">Account</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="footer-bottom" class="page-footer font-small pt-4 navbar-light">
    <div class="container">
      <!--social media links-->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a href="https://www.facebook.com" target="_blank" aria-label="link to facebook page"><i class="fab fa-facebook-f fa-lg"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.twitter.com" target="_blank" aria-label="link to twitter page"><i class="fab fa-twitter fa-lg"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.instagram.com" target="_blank" aria-label="link to instagram page"><i class="fab fa-instagram fa-lg"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.linkedin.com" target="_blank" aria-label="link to linkedin page"><i class="fab fa-linkedin-in fa-lg"></i></a>
        </li>
      </ul>
    </div>
    <!-- Copyright Information -->
    <div class="text-center py-3 text-black">
      © 2022 Copyright: My phone
  </div>
  </section>

  {% block loadjs %}
  {% endblock %}

</body>

</html>