{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block extra_title %} | Product Information {% endblock %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            {% if product.image %}
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                    src="{{ product.image.url }}" alt="An image to show {{ product.name }}">
                    <p class="mt-2 text-center text-dark"><i class="fa-solid fa-magnifying-glass"></i> Enlarge the image above </p>
                </div>
            {% else %}
                <div class="col">
                    <p>No image available</p>
                </div>
            {% endif %}
            <div class="col-md-6">
                <div class="small mb-1">{{ product.sku }}</div>
                <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">Є {{ product.price }}</span>
                </div>
                {% if product.rating %}
                    <small><i class="fas fa-star mr-1">{{ product.rating }} / 5</i></small>
                {% else %}
                    <small>No Rating</small>
                {% endif %}
                <p class="lead">{{ product.description }}</p>
                <div class="d-flex">
                    <form action="{% url 'add_to_bag' product.id %}" method="POST" class="form">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0" data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}" aria-label="decrement button">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input type="number" class="form-control qty_input" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}"/>
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-black rounded-0" data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}" aria-label="increment button">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <a href="{% url 'products' %}" class="btn btn-outline-warning rounded-0 mt-2">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" value="Add to Basket" class="btn btn-outline-warning rounded-0 text-uppercase mt-2" />
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
            <!--Edit and delete functionality for super user-->
    {% if request.user.is_superuser %}
    <div class="row">
        <div class="col-6 btns">
            <a href="#">
                <p class="text-center">Edit</p>
            </a>
        </div>
        <div class="col-6 btns">
            <a href="#">
                <p class="text-center">Delete</p>
            </a>
        </div>
    </div>
    {% endif %}
    <hr/>
    <div class="row">
        <div class="col-xs-12 col-sm-6 extra-product-info">
            <a href="#delivery">
                Delivery Information
            </a>
            <a href="{% url 'products' %}?category={{ product.category }}">
                <p class="mt-2">
                    Category: <span class="phone-category">{{ product.category.friendly_name }}</span>
                </p>
            </a>
            <hr class="small-divider">
        </div>
        </div>
    </div>
</section>
<!--original
<div class="overlay"></div>
<div class="container-fluid">
    <!--row 1-->
    <div class="row">
        <!--product image column
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            {% if product.image %}
            <div class="col phone_image_container mb-4 btns">
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="phone_image" src="{{ product.image.url }}" alt="An image to show {{ product.name }}">
                    <p class="mt-2 text-center text-dark"><i class="fa-solid fa-magnifying-glass"></i> Enlarge the image above </p>
                </a>
            </div>
            {% else %}
            <div class="col">
                <p>No image available</p>
            </div>
            {% endif %}
        </div>
        <!--product description column
        <div class="col-12 col-md-6 col-lg-6">
            <div class="product-details-container mb-5 mt-md-5 text-dark">
                <p class="mb-0"><strong>{{ product.name }}</strong></p>
                <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                {% if product.rating %}
                    <small><i class="fas fa-star mr-1">{{ product.rating }} / 5</i></small>
                {% else %}
                    <small>No Rating</small>
                {% endif %}
            </div>
        </div>
    </div>
    <!--row 2-->
    <!--Edit and delete functionality for super user
    {% if request.user.is_superuser %}
    <div class="row">
        <div class="col-6 btns">
            <a href="#">
                <p class="text-center">Edit</p>
            </a>
        </div>
        <div class="col-6 btns">
            <a href="#">
                <p class="text-center">Delete</p>
            </a>
        </div>
    </div>
    {% endif %}
    <hr/>
    Row 3 with delivery information
    <div class="row">
        <div class="col-xs-12 col-sm-6 extra-product-info">
            <a href="#delivery">
                Delivery Information
            </a>
            <a href="{% url 'products' %}?category={{ product.category }}">
                <p class="mt-2">
                    Category: <span class="phone-category">{{ product.category.friendly_name }}</span>
                </p>
            </a>
            <hr class="small-divider">
        </div>
        <div class="col-xs-12 col-sm-6 extra-product-info">
            <a href="#product-review-section">
                <p>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half"></i>
                Reviews
                </p>
            </a>
        </div>
        <p class="p-4 text-dark">
            {{ product.description }}
        </p>
        <hr/>

    </div>
</div>
 -->
{% endblock %}